.memo-cards {
  background-color: var(--background-color);
  height: 100vh;

  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  padding: 3px;
}

.memo-card-item {
  cursor: pointer;
}

@media screen and (min-width: 0px) {
  .memo-cards-10 {
    grid-template-columns: repeat(2, 1fr);
  }

  .memo-cards-16 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 567px) and (orientation: landscape) {
  .memo-cards-10 {
    grid-template-columns: repeat(5, 1fr);
  }

  .memo-cards-16 {
    grid-template-columns: repeat(4, 1fr);
  }
}
