.memo-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.memo-card-item {
  height: 200px;
  width: 200px;
  margin: 5px;
  cursor: pointer;
}
