.button {
  cursor: pointer;
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  font-weight: bold;
  font-size: 1em;
}

.button:hover {
  background-color: var(--primary-dark-color);
}
